DATABASE_URL=postgres://USER:PASSWORD@localhost:5433/shipnexus_db
REDIS_URL=redis://:PASSWORD@localhost:6380
AWS_ENDPOINT_URL=http://localhost:4567
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret_here
