aws_region  = "us-east-1"
environment = "production"
project     = "shipnexus"

vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]

sqs_visibility_timeout_seconds = 900
sqs_message_retention_seconds  = 345600

api_container_port = 3000
api_cpu            = 512
api_memory         = 1024
worker_cpu         = 256
worker_memory      = 512
